.btn-primary {
    background-color: $brand-yellow;
    color: #855B35;
    transition: background-color .3s;

    &:hover {
        background-color: #FFDC5C;
    }
}

.btn-secondary {
    border: 1px solid $brand-light-blue;
    background-color: transparent;
    color: $brand-light-blue;
    transition: all .3s;

    &:hover {
        background-color: $brand-light-blue;
        color: #fff;
    }

    &.white {
        border: 1px solid #fff;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: $brand-green-light;
        }
    }
}

.btn-primary,
.btn-secondary {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 0 2.6rem;
    border-radius: 122px;
    font-weight: 600;
    line-height: 4.8rem;
}